* {
  margin: 0;
  padding: 0;
}

.countdown {
  background: blueviolet;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.inputMinutes {
  background: transparent;
  width: max-content;
  height: 30px;
  border: black 1px solid;
  color: black;
  font-size: large;
  font: 700;

}

.buttons svg {
  margin: 5px;
  font-size: 30px;
  cursor: pointer;

}

.display {
  font-size: 30px;
}